body {
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin: 0.2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4rem;
  padding-bottom: 11rem;
  height: 32rem;
  flex-wrap: nowrap;
}

.main-info {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}

.text {
  max-width: 30rem;
}

.button-01 {
  margin-top: 1rem;
  background-color: #a36a4f;
  color: white;
  font-size: 1rem;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.button-01:hover {
  background-color: #8b583d;
}

.images {
  width: auto;
  height: 40rem;
}

.main-images {
  position: relative;
  display: flex;
  align-items: center;
}

.img1 {
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.img2 {
  position: absolute;
  z-index: 2;
  right: -4rem;
  bottom: -13rem;
  border-radius: 50%;
}

.metrics {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.middle-figure {
  background-color: #ecdac4;
  border-radius: 45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
  height: 150px;
}

.info-01,
.info-02,
.info-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.info-01 p,
.info-02 p,
.info-03 p {
  font-size: 0.8rem;
}

.gallery {
  background-color: #363032;
  width: auto;
  height: 30rem;
  margin-top: -4.5rem;
  padding-top: 7rem;
}

.gallery-box {
  margin-top: 1rem;
  top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.photo p {
  color: white;
}

.footer {
  height: 6rem;
  width: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.9rem;
  }

  .header {
    align-items: center;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    padding-bottom: 35rem;
    height: 30rem;
    flex-wrap: nowrap;
  }

  .header p {
    font-size: medium;
  }

  .text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .main-info {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .button-01 {
    margin: 1rem auto;
  }

  .images {
    margin-top: 5rem;
  }

  .img1 {
    width: 23rem;
  }

  .img2 {
    width: 14rem;
    position: absolute;
    left: 6rem;
    top: 18rem;
  }

  .middle-figure {
    background-color: #ecdac4;
    border-radius: 45rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 19rem;
    height: 550px;
  }

  .gallery {
    background-color: #363032;
    width: auto;
    height: auto;
    margin-top: -16.5rem;
  }

  .gallery-box {
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo {
    padding: 1rem;
  }
}
